<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Risk Assessment Questionnaire</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body = class="index-body">

    <img src="{{ url_for('static', filename='images/J.png') }}" alt="New Image" class="new-image">


        <div class="main-content">
            <table class="main-table">
                 <tr>
                    <td colspan="3" class="image-cell">
                        <div class="table-images">
                            <img src="{{ url_for('static', filename='images/PPO.png') }}" alt="PPO Logo" class="table-image">
                            <img src="{{ url_for('static', filename='images/DOJ.png') }}" alt="DOJ Logo" class="table-image">
                            <img src="{{ url_for('static', filename='images/BagongPilipinas.png') }}" alt="Bagong Pilipinas Logo" class="table-image">
                        </div>
                    </td>
                </tr> 
                <tr>
                    <td colspan="2" class="table-header">
                        <h1>CLASSIFICATION AND RISK ASSESSMENT TOOL</h1>
                    </td>
                </tr>
                <tr>
                    <td class="label" colspan="2">
                        Name of Petitioner/Probation/Parole:
                        <input type="text" class="input-box" placeholder="Enter Details Here">
                    </td>
                </tr>
                <tr>
                    <td class="label" colspan="2">
                        Length of Sentence:
                        <select class="dropdown-box">
                            <option value="" disabled selected> </option>
                            <option value="2-years-or-less">2 Years or Less</option>
                            <option value="above-2-years">Above 2 Years</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="label" colspan="2">
                        Name & Position of Inv/Supvg Officer:
                        <input type="text" class="input-box" placeholder="Enter Details Here">
                    </td>
                </tr>
                <tr>
                    <td class="label" colspan="2">
                        Chief Probation Officer/Officer-in-Charge:
                        <input type="text" class="input-box" placeholder="Enter Details Here">
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="table-button">
                        <a href="{{ url_for('segment', segment_id=1) }}" class="btn">Start Questionnaire</a>
                    </td>
                </tr>
            </table>
        </div>
        
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>